.contact-container {
    background: linear-gradient(135deg, #e6e7f3, #1b10#0a112056);
    border-radius: 20px;
    padding: 2rem;
    color: #ffffff;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px rgb(213, 228, 228);
    max-width: 600px;
    margin: auto;
  }
  .body {
    align-items: centerS;
  }
  
  .contact-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .contact-text {
    color: #d1d1e9;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .contact-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
    color: #5fa8f2;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .contact-link:hover {
    color: #00f7ff;
  }
  
  .icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
  }
  
  .contact-link:hover .icon {
    transform: scale(1.2);
  }
  